@media only screen and (max-width: 992px) {

    .wide_service_info_icons {
        margin-bottom: 10px;
        text-align: center;
    }

    .wide_service_info_icons div {
        display: inline-block;
        margin-left: 5px;
    }

    .wide_service_info_profile {
        flex-direction: column;
        margin-bottom: 15px;
    }

    #layout-menu {
        -webkit-transition: transform 0.3s;
        -moz-transition: transform 0.3s;
        -ms-transition: transform 0.3s;
        -o-transition: transform 0.3s;
        transition: transform 0.3s;
    }

    #layout-menu.open_menu_side {
        transform: translate3d(0, 0, 0) !important;
        padding-top: 40px;
    }

    .opened_menu_background {
    }

    .opened_menu_background:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
    }

   .table-responsive thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table-responsive table, .table-responsive thead, .table-responsive tbody, .table-responsive th, .table-responsive td, .table-responsive tr {
        display: block;
    }

    .table-responsive .dataTables_filter {
        margin-bottom: 10px;
    }

    .table-responsive tr {
        padding: 5px;
    }

    .table-responsive td {
        border: none;
        position: relative;
        padding-right: 30% !important;
        border-radius: 5px;
        white-space: normal;
        min-height: 20px;
    }

    .table-responsive td:before {
        position: absolute;
        top: 6px;
        right: 10px;
        width: 30%;
        padding-left: 10px;
        white-space: nowrap;
    }

    .table-responsive td::before {
        content: attr(data-th);
    }

    .table-responsive td .ulinlin li {
        margin-bottom: 15px !important;
    }

    .table-responsive {
        overflow-x: hidden;
    }

    .card-header {
        font-size: 18px;
    }

    .selected_div {
        left: 0;
        width: 50%;
    }

    .time_selected_label_description {
        display: inline-block;
        overflow: unset !important;
        margin-right: 10px;
    }

    .time_selected_label_title {
        display: inline-block;
    }

    .time_table_td_mobile {
        width: 50%;
    }
}

@media only screen and (min-width: 992px) {
    .col-1-5 {
        width: 12.5% !important;
    }
}

@media only screen and (max-width: 576px) {
}

@media (max-width: 768px) and  (min-width: 576px) {
}
